*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins',sans-serif;
    
}
header{
    background-image: url('image1.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
header h1{
    font-size: 70px;
    margin-top: 50px;
    font-weight: 150px;
}
header p{
    font-size: 20px;
    margin: 0.5rem 0;
}
header a.cta{
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 1rem;
    transition: all 0.2s;
}
header a.cta:hover{
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 7%;
}
nav img{
    height:50px;
    width: 120px;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    color:#fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
}
section{
    width: 80%;
    text-align: center;
    margin: 2rem;
}
section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
section form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
section input[type="text"],
section input[type="email"],
section textarea{
width: 100%;
padding: 1rem;
font-size: 1.1rem;
margin-bottom: 1rem;
border-radius: 5px;
border: none;
outline: none;
background: #f2f2f2;
}
section button[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}
section button[type="submit"]:hover{
    background-color: #fff;
    color: #333;
}
footer{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
}
footer p{
    font-size: 1rem;
    margin: 0;
}
footer a{
    color: #fff;
    margin-left: 3rem;
    text-decoration: none;
}
@media only screen and (max-width: 600px){
    header{
      flex-direction: column;
  }
  nav{
      flex-direction: column;
  }
  main{
      flex-direction: column;
  }
  section{
      width: 100%;
  }
  }
#services{
    padding: 1rem 0;
    text-align: center;
}
#services h2{
    margin-bottom: 3rem;
}
.service{
    width: 30%;
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
}
.service img{
    width: 200px;
    margin-bottom: 2rem;
}
.service h3{
    margin-bottom: 1rem;
}
@media only screen and (max-width: 600px){
    .services{
        width: 100%;
        margin: 2rem 0;
    }
}
#about{
    line-height: 20px;
    padding: 15px 8%;
    margin-bottom: 20px;
}
#about img{
    margin-top: 30px;
}
#about p{
    margin-top: 30px;
}
#contact{
    padding: 50px 7%;
    line-height: 20px;
}
#contact h2{
    margin-bottom: 5rem;
}
